{% extends 'base.html' %}

{% block content %}
<form class="form-signin" method="post">

    {% csrf_token %}

  <h1 class="h3 mb-3 font-weight-normal">Update credentials</h1>

  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus value={{ user.email }}>

  <input type="text" name="first_name" id="inputFirst_name" class="form-control" placeholder="First_name" required autofocus value={{ user.first_name }}>

  <input type="text" name="last_name" id="inputLast_name" class="form-control" placeholder="Last_name" required autofocus value={{ user.last_name }}>

  {% if success_message %}
    <p style="color:  green; text-align: center;">{{ user.success_message }}</p>
  {% endif %}

  <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>

</form>

<div class="container mt-4 p-4">
  <div class="row">
    <div class="blog-posts">
      <h3 class="mx-auto mb-3 font-weight-normal">My Blog posts:</h3>
      {% if blog_posts %}
        <ul class="list-group">
        {% for post in blog_posts %}
          <a href="{% url 'blog:detail' post.slug %}" style="text-decoration: none;"><li class="list-group-item">{{post}}</li></a>
        {% endfor %}
        </ul>
      {% else %}
        <p>You have no blog posts. Create a post <a href="{% url 'blog:create' %}">here</a>.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}