{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- main content -->
<div class="container">
	<div class="row">

		<!-- blog feed -->
		<div class="left-column col-lg-7 offset-lg-1">

			<!-- Top 'create post' bar -->
			<div class="d-lg-none mb-3">
				<div class="card m-auto d-flex flex-column p-3">
					<img class="img-fluid d-block m-auto pb-2" src="{% static 'dog.jpeg' %}" width="72" height="72">
					<p class="lead">Click below to post your blog.</p>
					<p class="m-auto"><a class="btn btn-primary" href="{% url 'blog:create' %}">Create post</a></p>
				</div>
			</div>

    {% if blog_posts %}
				{% for post in blog_posts %}
					<div class="blog-post-container">
                        <div class="card m-auto">
							<a href="{% url 'blog:detail' post.slug %}"><img class="card-img-top" src="{{post.image.url}}"></a>
						<a href="{% url 'blog:detail' post.slug %}"><li class="list-group-item">{{post}}</li></a>

					</div>
                    </div>
				{% endfor %}

			{% endif %}
			<!-- End Blog posts-->

		<!-- Pagination -->

		</div>
		<!-- end blog feed -->

<div class="flex-column p-3">
	<h2>Registered users</h2>

	{% for account in accounts %}
	 {{ account.username }}
	<br>
	{% endfor %}
			<div class="card create-post-bar d-flex flex-column p-3">
				<img class="img-fluid d-block m-auto pb-2" src="{% static 'dog.jpeg' %}" width="72" height="72">
				<p class="lead">Click below to post your blog.</p>
				<p class="m-auto"><a class="btn btn-primary" href="{% url 'blog:create' %}">Create post</a></p>
			</div>
Click <a href="{% url 'chat' %}">here</a> to chat
</div>
        </div></div>

{% endblock content %}
